.card {
    width: 400px;
    background-color: white;
    border-radius: 1rem;
    padding: 10px 10px 0 10px;
    border: none;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.img {
    width: 380px;
    height: 235px;
    border-radius: 1rem;
}

.year {
    outline: 2px dashed var(--bs-primary-color);
    padding: 0 10px;
    display: flex;
    place-items: center;
    margin-bottom: 8px;
    outline-offset: -1px;
    border-radius: 10px;
}

.card i {
    color: var(--bs-primary-color);
    margin: 0 10px
}

.card_text p {
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.like_icon i {
    cursor: pointer;
}

.like_icon i:nth-child(2) {
    color: red;
}

.btn:hover {
    color: rgb(55, 55, 55) !important;
    background-color: rgb(80, 188, 70) !important;
    border: none;
}

@media (max-width:1400px) {

    .card {
        width: 350px;
    }

    .img {
        width: 330px;
        height: 190px;
    }
}

@media (max-width:1200px) {

    .card {
        width: 295px;
    }

    .img {
        width: 275px;
        height: 165px;
    }

    .card_bottom span {
        font-size: 1.6rem !important;
    }

    .card_bottom p {
        font-size: 0.8rem;
    }
}


@media (max-width:992px) {

    .card {
        width: 220px;
    }

    .img {
        width: 200px;
        height: 135px;
    }

    .card h5 {
        font-size: 1rem;
    }

    .card_text p {
        font-size: 0.8rem;
        margin: 0;
    }

    .card_bottom span {
        font-size: 1.2rem !important;
    }

    .like_icon {
        width: 165px;
    }

    .card_bottom p {
        margin: 0;
    }
}


@media (max-width:768px) {

    .card {
        width: 165px;
        padding: 5px 5px 0 5px;
    }

    .img {
        width: 155px;
        height: 95px;
    }

    .card h5 {
        font-size: 0.9rem;
    }

    .year {
        font-size: 0.6rem;
        padding: 0 11px;
        outline-offset: -7px;
    }

    .card i {
        margin: 0 5px;
        font-size: 0.7rem;
    }

    .card p {
        font-size: 0.6rem;
        margin-bottom: 5px;
    }

    .card_bottom span {
        font-size: 0.9rem !important;
    }

    .card_bottom i {
        font-size: 1rem !important;
    }
}

@media (max-width:576px) {

    .card {
        width: 145px;
    }

    .img {
        width: 135px;
        height: 90px;
    }

    .like_icon {
        display: flex;
        width: auto;
    }

    .btn {
        width: max-content;
    }
}